#page {
    width: 100vw;
    height: 100vh;
}

#default-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campaigns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.campaigns .campaignCard {
    max-width: 320px;
}

.campaignCard .card-content {
    text-align: left;
}


@media screen and (orientation: portrait) {
    #default-page {
        align-items: flex-start;
        padding-top: 20px;
    }
}

@media screen and (orientation: landscape) and (max-width: 800px) {
    .campaigns .campaignCard {
        max-width: 310px;
    }
}

@media screen and (max-width: 1024px) {
    #default-page {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .campaigns .campaignCard {
        max-width: 400px;
    }
}

#landing-page {
    padding-top: 20px;
}

#landing-page .header p
{
    margin-top: 0px;
}

#landing-page .header h6
{
    margin-bottom: 5px;
}

#landing-page .lp-body
{
    padding-top: 50px;
}

.pointTitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.pointTitle .mainPoint {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 0.26em solid rgba(0,0,0,0.87);
    min-width: 250px;
}

.pointBody {
    padding-left: 5em !important;
    margin-top: -30px;
}

.circle {
    border: 0.26em solid rgba(0,0,0,0.87);
    border-radius: 100%;
    height: 2.8em;
    width: 2.8em;
    text-align: center;
    margin-top: 1.2em;
}

.circle p {
    font-weight: bold;
    color: rgba(0,0,0,0.87);
    margin-top: 0.07em;
    font-size: 1.5em;
}
